.container {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 2%;
    margin: 10%;
    background-color: #e8ecef;
    opacity: 90%;
    border-radius: 2em;
}

.btn-round {
    border-radius: 5em;
}

.img-box {
    padding: 20px;
}